*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{


}

body {
background: rgb(240, 238, 238);

font-family: sans-serif;


  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.app{
padding: 1rem;
}